/* display: inline-block; */

/* document { backgoundColor: black; } */


#AllOscillators{
  float:left;
  margin-left: 30px;
}

#osc1{
  float: left;
  margin-top: 20px;
  margin-left: 30px;
}

#osc2{
  float: inherit;

  margin-top: 30px;
  margin-left: 30px;
}

#osc3{
  float: none;
  margin-top: 50px;
  margin-left: 30px;
}

#osc4{
  float: none;
  margin-top: 50px;
  margin-left: 30px;
}




h1{
  font-size: 1.7em;
  color: 0,0,0;
  font-family: monospace;
  margin-top: 50px;
  font-weight:bold;

}

h2{
  font-family: monospace;
  font-size: 1.3em;
  margin-top: 10px;
}
canvas{
  float:right;
  margin-top: 100px;
  margin-right: 200px;


}

/* #canvas1 {
    width: 300px;
    height: 200px;
    background-color: white;
    margin-left: 150px;
    margin-top: -180px;
}

#canvas2 {
    width: 300px;
    height: 200px;
    background-color: white;
    margin-left: 150px;
    margin-top: -200px;
}

#canvas3 {
    width: 300px;
    height: 200px;
    background-color: white;
    margin-left: 150px;
    margin-top: -200px;
} */
#power1{

}

#gain1{

}

#frequency1{

}



/*#osc2{
  margin-top: 250px;
}*/
/* osc2 */
/*
#power2{
  position:relative;
  margin-top: 200px;
  margin-left: 0px;
}

#gain2{
  position:relative;
  margin-top: 300px;
  margin-left: 0px;
}

#frequency2{
  position: absolute;
  margin-top: 300px;
  margin-left: 0px;
  } */
